body {-webkit-nbsp-mode:normal !important;margin: 0px !important;padding:0px !important;line-height:1.4 !important;} .wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{margin:0px !important;padding:0px !important;text-align:left;} .wafxText  a{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText  a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText p.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h1.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h2.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h3.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h4.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h5.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h6.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1{text-align:left;} .waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText p.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h1.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h2.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h3.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h4.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h5.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h6.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534{text-align:left;} .waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} .waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} 
@media(max-width:1024px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h1.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h2.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h3.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h4.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h5.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h6.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h1.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h2.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h3.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h4.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h5.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h6.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
}
@media(min-width:1025px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h1.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h2.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h3.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h4.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h5.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1,.wafxText h6.waStyle-6e07ec93-aba4-44fa-ad82-0f3250f2abb1{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h1.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h2.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h3.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h4.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h5.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534,.wafxText h6.waStyle-7f55fe25-1469-413a-a6ee-761a3bf57534{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
}
.smt-wa-default{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-default a{
color:#0000ff !important;text-decoration:underline !important;}

.comp_0{position:absolute;z-index:50010;}
.comp_1{position:absolute;z-index:50025;}
.comp_10{position:absolute;z-index:50100;}
.comp_11{position:absolute;z-index:50115;}
.comp_12{position:absolute;z-index:50355;}
.comp_13{position:absolute;z-index:50370;}
.comp_14{position:absolute;z-index:50415;}
.comp_15{position:absolute;z-index:50430;}
.comp_16{position:absolute;z-index:50400;}
.comp_17{position:absolute;z-index:50385;}
.comp_18{position:absolute;z-index:50850;}
.comp_19{position:absolute;z-index:52110;}
.comp_2{position:absolute;z-index:50040;}
.comp_20{position:absolute;z-index:52965;}
.comp_21{position:absolute;z-index:55080;}
.comp_22{position:absolute;z-index:55935;}
.comp_23{position:absolute;z-index:53820;}
.comp_24{position:absolute;z-index:114435;}
.comp_25{position:absolute;z-index:146655;}
.comp_26{position:absolute;z-index:130545;}
.comp_27{position:absolute;z-index:339975;}
.comp_28{position:absolute;z-index:404415;}
.comp_29{position:absolute;z-index:468855;}
.comp_3{position:absolute;z-index:50085;}
.comp_30{position:absolute;z-index:533295;}
.comp_31{position:absolute;z-index:597735;}
.comp_32{position:absolute;z-index:662175;}
.comp_33{position:absolute;z-index:726615;}
.comp_34{position:absolute;z-index:1338795;}
.comp_35{position:absolute;z-index:2627595;}
.comp_36{position:absolute;z-index:5205195;}
.comp_37{position:absolute;z-index:6493995;}
.comp_38{position:absolute;z-index:7782795;}
.comp_39{position:absolute;z-index:14226795;}
.comp_4{position:absolute;z-index:50055;}
.comp_40{position:absolute;z-index:15515595;}
.comp_41{position:absolute;z-index:12937995;}
.comp_42{position:absolute;z-index:28403595;}
.comp_43{position:absolute;z-index:30981195;}
.comp_44{position:absolute;z-index:29692395;}
.comp_45{position:absolute;z-index:43869195;}
.comp_46{position:absolute;z-index:46446795;}
.comp_47{position:absolute;z-index:59334795;}
.comp_48{position:absolute;z-index:45157995;}
.comp_49{position:absolute;z-index:60623595;}
.comp_5{position:absolute;z-index:50070;}
.comp_50{position:absolute;z-index:61912395;}
.comp_51{position:absolute;z-index:74800395;}
.comp_52{position:absolute;z-index:121197195;}
.comp_53{position:absolute;z-index:77377995;}
.comp_54{position:absolute;z-index:90265995;}
.comp_55{position:absolute;z-index:76089195;}
.comp_56{position:absolute;z-index:108309195;}
.comp_57{position:absolute;z-index:91554795;}
.comp_58{position:absolute;z-index:105731595;}
.comp_59{position:absolute;z-index:122485995;}
.comp_6{position:absolute;z-index:50175;}
.comp_60{position:absolute;z-index:107020395;}
.comp_61{position:absolute;z-index:92843595;}
.comp_62{position:absolute;z-index:247499595;}
.comp_63{position:absolute;z-index:371224395;}
.comp_64{position:absolute;z-index:742398795;}
.comp_65{position:absolute;z-index:1113573195;}
.comp_66{position:absolute;z-index:159175499;}
.comp_67{position:absolute;z-index:159175499;}
.comp_68{position:absolute;z-index:1272698699;}
.comp_69{position:absolute;z-index:1272698699;}
.comp_7{position:absolute;z-index:50145;}
.comp_70{position:absolute;z-index:159175499;}
.comp_71{position:absolute;z-index:-954347701;}
.comp_72{position:absolute;z-index:-1749619893;}
.comp_73{position:absolute;z-index:-1749619893;}
.comp_74{position:absolute;z-index:1431824203;}
.comp_75{position:absolute;z-index:1431824203;}
.comp_76{position:absolute;z-index:1431824203;}
.comp_77{position:absolute;z-index:318301003;}
.comp_78{position:absolute;z-index:-1590494389;}
.comp_79{position:absolute;z-index:-317845685;}
.comp_8{position:absolute;z-index:50160;}
.comp_80{position:absolute;z-index:-1590494389;}
.comp_81{position:absolute;z-index:1590949707;}
.comp_82{position:absolute;z-index:-1431368885;}
.comp_83{position:absolute;z-index:-317845685;}
.comp_84{position:absolute;z-index:-1431368885;}
.comp_85{position:absolute;z-index:477426507;}
.comp_86{position:absolute;z-index:-1431368885;}
.comp_87{position:absolute;z-index:1750075211;}
.comp_88{position:absolute;z-index:1590949707;}
.comp_89{position:absolute;z-index:1590949707;}
.comp_9{position:absolute;z-index:50130;}
.comp_90{position:absolute;z-index:318656331;}
.comp_91{position:absolute;z-index:1432179531;}
.comp_92{position:absolute;z-index:-794866869;}
.comp_93{position:absolute;z-index:1432179531;}
.comp_94{position:absolute;z-index:318656331;}
.comp_95{position:absolute;z-index:318656331;}
.comp_96{position:absolute;z-index:-1112762549;}
.comp_97{position:absolute;z-index:2068681547;}
.comp_98{position:absolute;z-index:-1112762549;}
body{background-color:#ffffff;}
@media(max-width:1024px){
.blockPage{transform:scale(0.366211) ;transform-origin:top left;width:1024px;}
.blockPagecontainer{width:375px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_31{display:block;}
.compVis_32{display:block;}
.compVis_33{display:block;}
.compVis_34{display:block;}
.compVis_35{display:block;}
.compVis_36{display:block;}
.compVis_37{display:block;}
.compVis_38{display:block;}
.compVis_39{display:block;}
.compVis_4{display:block;}
.compVis_40{display:block;}
.compVis_41{display:block;}
.compVis_42{display:block;}
.compVis_43{display:block;}
.compVis_44{display:block;}
.compVis_45{display:block;}
.compVis_46{display:block;}
.compVis_47{display:block;}
.compVis_48{display:block;}
.compVis_49{display:block;}
.compVis_5{display:block;}
.compVis_50{display:block;}
.compVis_51{display:block;}
.compVis_52{display:block;}
.compVis_53{display:block;}
.compVis_54{display:block;}
.compVis_55{display:block;}
.compVis_56{display:block;}
.compVis_57{display:block;}
.compVis_58{display:block;}
.compVis_59{display:block;}
.compVis_6{display:block;}
.compVis_60{display:block;}
.compVis_61{display:block;}
.compVis_62{display:block;}
.compVis_63{display:block;}
.compVis_64{display:block;}
.compVis_65{display:block;}
.compVis_66{display:block;}
.compVis_67{display:block;}
.compVis_68{display:block;}
.compVis_69{display:block;}
.compVis_7{display:block;}
.compVis_70{display:block;}
.compVis_71{display:block;}
.compVis_72{display:block;}
.compVis_73{display:block;}
.compVis_74{display:block;}
.compVis_75{display:block;}
.compVis_76{display:block;}
.compVis_77{display:block;}
.compVis_78{display:block;}
.compVis_79{display:block;}
.compVis_8{display:block;}
.compVis_80{display:block;}
.compVis_81{display:block;}
.compVis_82{display:block;}
.compVis_83{display:block;}
.compVis_84{display:block;}
.compVis_85{display:block;}
.compVis_86{display:block;}
.compVis_87{display:block;}
.compVis_88{display:block;}
.compVis_89{display:block;}
.compVis_9{display:block;}
.compVis_90{display:block;}
.compVis_91{display:block;}
.compVis_92{display:block;}
.compVis_93{display:block;}
.compVis_94{display:block;}
.compVis_95{display:block;}
.compVis_96{display:block;}
.compVis_97{display:block;}
.compVis_98{display:block;}
.comp_0{height:180px;left:0px;top:95px;width:320px;}
.comp_1{height:180px;left:352px;top:95px;width:320px;}
.comp_10{height:180px;left:0px;top:519px;width:320px;}
.comp_11{height:180px;left:352px;top:519px;width:320px;}
.comp_12{height:180px;left:0px;top:943px;width:320px;}
.comp_13{height:180px;left:352px;top:943px;width:320px;}
.comp_14{height:180px;left:352px;top:1155px;width:320px;}
.comp_15{height:180px;left:704px;top:1155px;width:320px;}
.comp_16{height:180px;left:0px;top:1155px;width:320px;}
.comp_17{height:180px;left:704px;top:943px;width:320px;}
.comp_18{height:180px;left:352px;top:1367px;width:320px;}
.comp_19{height:180px;left:0px;top:1367px;width:320px;}
.comp_2{height:180px;left:704px;top:95px;width:320px;}
.comp_20{height:180px;left:704px;top:1367px;width:320px;}
.comp_21{height:180px;left:0px;top:1579px;width:320px;}
.comp_22{height:180px;left:704px;top:1579px;width:320px;}
.comp_23{height:180px;left:352px;top:1579px;width:320px;}
.comp_24{height:180px;left:0px;top:1791px;width:320px;}
.comp_25{height:180px;left:704px;top:1791px;width:320px;}
.comp_26{height:180px;left:352px;top:1791px;width:320px;}
.comp_27{height:180px;left:352px;top:2003px;width:320px;}
.comp_28{height:180px;left:704px;top:2003px;width:320px;}
.comp_29{height:180px;left:0px;top:2215px;width:320px;}
.comp_3{height:180px;left:704px;top:307px;width:320px;}
.comp_30{height:180px;left:352px;top:2215px;width:320px;}
.comp_31{height:180px;left:704px;top:2215px;width:320px;}
.comp_32{height:180px;left:0px;top:2427px;width:320px;}
.comp_33{height:180px;left:0px;top:2003px;width:320px;}
.comp_34{height:180px;left:352px;top:2427px;width:320px;}
.comp_35{height:180px;left:704px;top:2427px;width:320px;}
.comp_36{height:180px;left:0px;top:2639px;width:320px;}
.comp_37{height:180px;left:352px;top:2639px;width:320px;}
.comp_38{height:180px;left:704px;top:2639px;width:320px;}
.comp_39{height:180px;left:352px;top:2851px;width:320px;}
.comp_4{height:180px;left:0px;top:307px;width:320px;}
.comp_40{height:180px;left:704px;top:2851px;width:320px;}
.comp_41{height:180px;left:0px;top:2851px;width:320px;}
.comp_42{height:180px;left:0px;top:3063px;width:320px;}
.comp_43{height:180px;left:703px;top:3063px;width:320px;}
.comp_44{height:180px;left:352px;top:3063px;width:320px;}
.comp_45{height:180px;left:0px;top:3275px;width:320px;}
.comp_46{height:180px;left:703px;top:3275px;width:320px;}
.comp_47{height:180px;left:0px;top:3487px;width:320px;}
.comp_48{height:180px;left:352px;top:3275px;width:320px;}
.comp_49{height:180px;left:352px;top:3487px;width:320px;}
.comp_5{height:180px;left:352px;top:307px;width:320px;}
.comp_50{height:180px;left:703px;top:3487px;width:320px;}
.comp_51{height:180px;left:0px;top:3699px;width:320px;}
.comp_52{height:180px;left:0px;top:4335px;width:320px;}
.comp_53{height:180px;left:704px;top:3699px;width:320px;}
.comp_54{height:180px;left:0px;top:3911px;width:320px;}
.comp_55{height:180px;left:352px;top:3699px;width:320px;}
.comp_56{height:180px;left:704px;top:4123px;width:320px;}
.comp_57{height:180px;left:352px;top:3911px;width:320px;}
.comp_58{height:180px;left:0px;top:4123px;width:320px;}
.comp_59{height:180px;left:352px;top:4335px;width:320px;}
.comp_6{height:180px;left:704px;top:731px;width:320px;}
.comp_60{height:180px;left:352px;top:4123px;width:320px;}
.comp_61{height:180px;left:704px;top:3911px;width:320px;}
.comp_62{height:180px;left:704px;top:4335px;width:320px;}
.comp_63{height:180px;left:704px;top:4547px;width:320px;}
.comp_64{height:180px;left:0px;top:4547px;width:320px;}
.comp_65{height:180px;left:352px;top:4547px;width:320px;}
.comp_66{height:180px;left:352px;top:4759px;width:320px;}
.comp_67{height:180px;left:704px;top:4759px;width:320px;}
.comp_68{height:180px;left:703px;top:4971px;width:320px;}
.comp_69{height:180px;left:352px;top:4971px;width:320px;}
.comp_7{height:180px;left:1px;top:731px;width:320px;}
.comp_70{height:180px;left:0px;top:4971px;width:320px;}
.comp_71{height:180px;left:0px;top:4759px;width:320px;}
.comp_72{height:180px;left:352px;top:5395px;width:320px;}
.comp_73{height:180px;left:703px;top:5395px;width:320px;}
.comp_74{height:180px;left:703px;top:5183px;width:320px;}
.comp_75{height:180px;left:352px;top:5183px;width:320px;}
.comp_76{height:180px;left:0px;top:5395px;width:320px;}
.comp_77{height:180px;left:0px;top:5183px;width:320px;}
.comp_78{height:180px;left:352px;top:5819px;width:320px;}
.comp_79{height:180px;left:703px;top:6243px;width:320px;}
.comp_8{height:180px;left:352px;top:731px;width:320px;}
.comp_80{height:180px;left:703px;top:5819px;width:320px;}
.comp_81{height:180px;left:703px;top:5607px;width:320px;}
.comp_82{height:180px;left:0px;top:6243px;width:320px;}
.comp_83{height:180px;left:352px;top:6243px;width:320px;}
.comp_84{height:180px;left:352px;top:6031px;width:320px;}
.comp_85{height:180px;left:0px;top:5607px;width:320px;}
.comp_86{height:180px;left:703px;top:6031px;width:320px;}
.comp_87{height:180px;left:0px;top:6031px;width:320px;}
.comp_88{height:180px;left:352px;top:5607px;width:320px;}
.comp_89{height:180px;left:0px;top:5819px;width:320px;}
.comp_9{height:180px;left:704px;top:519px;width:320px;}
.comp_90{height:180px;left:703px;top:6455px;width:320px;}
.comp_91{height:180px;left:703px;top:6667px;width:320px;}
.comp_92{height:180px;left:0px;top:6455px;width:320px;}
.comp_93{height:180px;left:352px;top:6667px;width:320px;}
.comp_94{height:180px;left:0px;top:6667px;width:320px;}
.comp_95{height:180px;left:352px;top:6455px;width:320px;}
.comp_96{height:180px;left:703px;top:6879px;width:320px;}
.comp_97{height:180px;left:0px;top:6879px;width:320px;}
.comp_98{height:180px;left:352px;top:6879px;width:320px;}
.textShape_1024{display:none;}
.textShape_375{display:block;}
.waBlockSocialBar{display:none;}
.wafx-vis-1024{display:none;}
.wafx-vis-375{display:block;}
.wafxCompFluid{left:calc( 0px - (273.067vw - 1024px) / 2);width:calc(273.067vw - 27.3067px);}
}
@media(min-width:1025px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:1024px;}
.blockPagecontainer{width:1024px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_31{display:block;}
.compVis_32{display:block;}
.compVis_33{display:block;}
.compVis_34{display:block;}
.compVis_35{display:block;}
.compVis_36{display:block;}
.compVis_37{display:block;}
.compVis_38{display:block;}
.compVis_39{display:block;}
.compVis_4{display:block;}
.compVis_40{display:block;}
.compVis_41{display:block;}
.compVis_42{display:block;}
.compVis_43{display:block;}
.compVis_44{display:block;}
.compVis_45{display:block;}
.compVis_46{display:block;}
.compVis_47{display:block;}
.compVis_48{display:block;}
.compVis_49{display:block;}
.compVis_5{display:block;}
.compVis_50{display:block;}
.compVis_51{display:block;}
.compVis_52{display:block;}
.compVis_53{display:block;}
.compVis_54{display:block;}
.compVis_55{display:block;}
.compVis_56{display:block;}
.compVis_57{display:block;}
.compVis_58{display:block;}
.compVis_59{display:block;}
.compVis_6{display:block;}
.compVis_60{display:block;}
.compVis_61{display:block;}
.compVis_62{display:block;}
.compVis_63{display:block;}
.compVis_64{display:block;}
.compVis_65{display:block;}
.compVis_66{display:block;}
.compVis_67{display:block;}
.compVis_68{display:block;}
.compVis_69{display:block;}
.compVis_7{display:block;}
.compVis_70{display:block;}
.compVis_71{display:block;}
.compVis_72{display:block;}
.compVis_73{display:block;}
.compVis_74{display:block;}
.compVis_75{display:block;}
.compVis_76{display:block;}
.compVis_77{display:block;}
.compVis_78{display:block;}
.compVis_79{display:block;}
.compVis_8{display:block;}
.compVis_80{display:block;}
.compVis_81{display:block;}
.compVis_82{display:block;}
.compVis_83{display:block;}
.compVis_84{display:block;}
.compVis_85{display:block;}
.compVis_86{display:block;}
.compVis_87{display:block;}
.compVis_88{display:block;}
.compVis_89{display:block;}
.compVis_9{display:block;}
.compVis_90{display:block;}
.compVis_91{display:block;}
.compVis_92{display:block;}
.compVis_93{display:block;}
.compVis_94{display:block;}
.compVis_95{display:block;}
.compVis_96{display:block;}
.compVis_97{display:block;}
.compVis_98{display:block;}
.comp_0{height:180px;left:0px;top:95px;width:320px;}
.comp_1{height:180px;left:352px;top:95px;width:320px;}
.comp_10{height:180px;left:0px;top:519px;width:320px;}
.comp_11{height:180px;left:352px;top:519px;width:320px;}
.comp_12{height:180px;left:0px;top:943px;width:320px;}
.comp_13{height:180px;left:352px;top:943px;width:320px;}
.comp_14{height:180px;left:352px;top:1155px;width:320px;}
.comp_15{height:180px;left:704px;top:1155px;width:320px;}
.comp_16{height:180px;left:0px;top:1155px;width:320px;}
.comp_17{height:180px;left:704px;top:943px;width:320px;}
.comp_18{height:180px;left:352px;top:1367px;width:320px;}
.comp_19{height:180px;left:0px;top:1367px;width:320px;}
.comp_2{height:180px;left:704px;top:95px;width:320px;}
.comp_20{height:180px;left:704px;top:1367px;width:320px;}
.comp_21{height:180px;left:0px;top:1579px;width:320px;}
.comp_22{height:180px;left:704px;top:1579px;width:320px;}
.comp_23{height:180px;left:352px;top:1579px;width:320px;}
.comp_24{height:180px;left:0px;top:1791px;width:320px;}
.comp_25{height:180px;left:704px;top:1791px;width:320px;}
.comp_26{height:180px;left:352px;top:1791px;width:320px;}
.comp_27{height:180px;left:352px;top:2003px;width:320px;}
.comp_28{height:180px;left:704px;top:2003px;width:320px;}
.comp_29{height:180px;left:0px;top:2215px;width:320px;}
.comp_3{height:180px;left:704px;top:307px;width:320px;}
.comp_30{height:180px;left:352px;top:2215px;width:320px;}
.comp_31{height:180px;left:704px;top:2215px;width:320px;}
.comp_32{height:180px;left:0px;top:2427px;width:320px;}
.comp_33{height:180px;left:0px;top:2003px;width:320px;}
.comp_34{height:180px;left:352px;top:2427px;width:320px;}
.comp_35{height:180px;left:704px;top:2427px;width:320px;}
.comp_36{height:180px;left:0px;top:2639px;width:320px;}
.comp_37{height:180px;left:352px;top:2639px;width:320px;}
.comp_38{height:180px;left:704px;top:2639px;width:320px;}
.comp_39{height:180px;left:352px;top:2851px;width:320px;}
.comp_4{height:180px;left:0px;top:307px;width:320px;}
.comp_40{height:180px;left:704px;top:2851px;width:320px;}
.comp_41{height:180px;left:0px;top:2851px;width:320px;}
.comp_42{height:180px;left:0px;top:3063px;width:320px;}
.comp_43{height:180px;left:703px;top:3063px;width:320px;}
.comp_44{height:180px;left:352px;top:3063px;width:320px;}
.comp_45{height:180px;left:0px;top:3275px;width:320px;}
.comp_46{height:180px;left:703px;top:3275px;width:320px;}
.comp_47{height:180px;left:0px;top:3487px;width:320px;}
.comp_48{height:180px;left:352px;top:3275px;width:320px;}
.comp_49{height:180px;left:352px;top:3487px;width:320px;}
.comp_5{height:180px;left:352px;top:307px;width:320px;}
.comp_50{height:180px;left:703px;top:3487px;width:320px;}
.comp_51{height:180px;left:0px;top:3699px;width:320px;}
.comp_52{height:180px;left:0px;top:4335px;width:320px;}
.comp_53{height:180px;left:704px;top:3699px;width:320px;}
.comp_54{height:180px;left:0px;top:3911px;width:320px;}
.comp_55{height:180px;left:352px;top:3699px;width:320px;}
.comp_56{height:180px;left:704px;top:4123px;width:320px;}
.comp_57{height:180px;left:352px;top:3911px;width:320px;}
.comp_58{height:180px;left:0px;top:4123px;width:320px;}
.comp_59{height:180px;left:352px;top:4335px;width:320px;}
.comp_6{height:180px;left:704px;top:731px;width:320px;}
.comp_60{height:180px;left:352px;top:4123px;width:320px;}
.comp_61{height:180px;left:704px;top:3911px;width:320px;}
.comp_62{height:180px;left:704px;top:4335px;width:320px;}
.comp_63{height:180px;left:704px;top:4547px;width:320px;}
.comp_64{height:180px;left:0px;top:4547px;width:320px;}
.comp_65{height:180px;left:352px;top:4547px;width:320px;}
.comp_66{height:180px;left:352px;top:4759px;width:320px;}
.comp_67{height:180px;left:704px;top:4759px;width:320px;}
.comp_68{height:180px;left:703px;top:4971px;width:320px;}
.comp_69{height:180px;left:352px;top:4971px;width:320px;}
.comp_7{height:180px;left:1px;top:731px;width:320px;}
.comp_70{height:180px;left:0px;top:4971px;width:320px;}
.comp_71{height:180px;left:0px;top:4759px;width:320px;}
.comp_72{height:180px;left:352px;top:5395px;width:320px;}
.comp_73{height:180px;left:703px;top:5395px;width:320px;}
.comp_74{height:180px;left:703px;top:5183px;width:320px;}
.comp_75{height:180px;left:352px;top:5183px;width:320px;}
.comp_76{height:180px;left:0px;top:5395px;width:320px;}
.comp_77{height:180px;left:0px;top:5183px;width:320px;}
.comp_78{height:180px;left:352px;top:5819px;width:320px;}
.comp_79{height:180px;left:703px;top:6243px;width:320px;}
.comp_8{height:180px;left:352px;top:731px;width:320px;}
.comp_80{height:180px;left:703px;top:5819px;width:320px;}
.comp_81{height:180px;left:703px;top:5607px;width:320px;}
.comp_82{height:180px;left:0px;top:6243px;width:320px;}
.comp_83{height:180px;left:352px;top:6243px;width:320px;}
.comp_84{height:180px;left:352px;top:6031px;width:320px;}
.comp_85{height:180px;left:0px;top:5607px;width:320px;}
.comp_86{height:180px;left:703px;top:6031px;width:320px;}
.comp_87{height:180px;left:0px;top:6031px;width:320px;}
.comp_88{height:180px;left:352px;top:5607px;width:320px;}
.comp_89{height:180px;left:0px;top:5819px;width:320px;}
.comp_9{height:180px;left:704px;top:519px;width:320px;}
.comp_90{height:180px;left:703px;top:6455px;width:320px;}
.comp_91{height:180px;left:703px;top:6667px;width:320px;}
.comp_92{height:180px;left:0px;top:6455px;width:320px;}
.comp_93{height:180px;left:352px;top:6667px;width:320px;}
.comp_94{height:180px;left:0px;top:6667px;width:320px;}
.comp_95{height:180px;left:352px;top:6455px;width:320px;}
.comp_96{height:180px;left:703px;top:6879px;width:320px;}
.comp_97{height:180px;left:0px;top:6879px;width:320px;}
.comp_98{height:180px;left:352px;top:6879px;width:320px;}
.textShape_1024{display:block;}
.textShape_375{display:none;}
.waBlockSocialBar{display:none;}
.wafx-vis-1024{display:block;}
.wafx-vis-375{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 1024px) / 2);width:calc(100vw - 10px);}
}

@media(max-width:385px){
.wafxCompFluid{
left:0px;
width:375px;
}
}
